<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hóa đơn điện tử</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
<div class="container" style="background-color: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%; max-width: 800px; margin: auto;">
    <header style="margin-bottom: 20px; text-align: center;">
        <h1>MT-Shirt</h1>
        <h3>Hóa đơn điện tử</h3>
        <p>Cảm ơn bạn đã mua hàng!</p>
    </header>

    <hr style="margin: 30px 0;">

    <section style="margin-bottom: 30px;">
        <div class="row mb-3" style="margin-bottom: 1rem; display: flex; justify-content: space-between;">
            <div class="col-6 text-left" style="flex: 1; text-align: left;">
                <strong>Mã hóa đơn:</strong> <span th:text="${orderNumber}"></span>
            </div>
            <div class="col-6 text-right" style="flex: 1; text-align: right;">
                <strong>Ngày thanh toán:</strong> <span th:text="${#dates.format(orderDate, 'dd/MM/yyyy HH:mm:ss')}"></span>
            </div>
        </div>
        <div class="row mb-3" style="margin-bottom: 1rem; display: flex; justify-content: space-between;">
            <div class="col-6 text-left" style="flex: 1; text-align: left;">
                <strong>Địa chỉ nhận hàng:</strong> <span th:text="${deliveryAddress}"></span>
            </div>
            <div class="col-6 text-right" style="flex: 1; text-align: right;">
                <a  th:href="@{${trackingUrl}}">Theo dõi đơn hàng</a>
            </div>
        </div>
    </section>


    <hr style="margin: 30px 0;">

    <section style="margin-bottom: 30px;">
        <h4>Sản phẩm đã đặt</h4>
        <table class="custom-table" style="border-collapse: collapse; width: 100%; text-align: left;">
            <thead>
            <tr>
                <th style="border-bottom: 0.01rem solid #000; padding: 8px;">#</th>
                <th style="border-bottom: 0.01rem solid #000; padding: 8px;">Tên sản phẩm</th>
                <th style="border-bottom: 0.01rem solid #000; padding: 8px;">Số lượng</th>
                <th style="border-bottom: 0.01rem solid #000; padding: 8px;">Giá</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, stat : ${orderItems}">
                <td style="padding: 8px;" th:text="${stat.index + 1}"></td>
                <td style="padding: 8px;" th:text="${item.name}"></td>
                <td style="padding: 8px;" th:text="${item.quantity}"></td>
                <td style="padding: 8px;" th:text="${item.price}"></td>
            </tr>
            <tr style="border-top: 0.01rem solid black;">
                <td style="padding: 8px;" colspan="3"><h5 style="margin: 0;">Tổng tiền</h5></td>
                <td style="padding: 8px;"><h5 style="margin: 0;" th:text="${totalAmount}"></h5></td>
            </tr>
            </tbody>
        </table>
    </section>

    <hr style="margin: 30px 0;">

    <section style="text-align: center;">
        <p style="font-size: 12px;">Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ: ithuongngoai@gmail.com</p>
    </section>
</div>

</body>
</html>
